@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  text-align: center;
  /* overflow: hidden; */
  background-image: url('images/galaxy-background.jpg');
  background-color: rgb(7, 7, 44);
  color: white;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  background-color: #39ff14;
  color: black;
  font-weight: bold;
  box-shadow: -2px 2px #afff14;
}

button:active {
  background-color: yellow;
}

div {
  padding: 50px;
}

h1 {
  font-size: 3rem;
}

.section {
  background-color: #074b75;
  border-radius: 15px;
  opacity: 90%;
}

.game-container {
  height: 100vh;
  width: 80vw;
  display: block;
  justify-content: center;
  align-items: center;
}

#title {
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 5px #7b7e80;
  letter-spacing: 4px;
  line-height: 4rem;
}

#subtitle {
  font-family: 'Press Start 2P', cursive;
  color: rgb(119, 118, 118);
  text-shadow: 2px 2px black;
}

#gameInfo {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(205, 205, 205);
  text-shadow: 2px 2px black;
}